#btnIngresar{
	border-radius: 0px;
	background-color: #BFAD05;
	color:#FFF;
	text-shadow:none !important;
	font-family: FuturaStdHeavy;
	font-size: 1.1em;
}

#divContentOption button{
	background-color: #BFAD05 !important;
	color:#FFF;
	text-shadow:none !important;
	font-family: FuturaStdHeavy;
	font-size: 1.1em;
}

#divContentLogin button{
	background-color: #BFAD05 !important;
	color:#FFF;
	text-shadow:none !important;
	font-family: FuturaStdHeavy;
	font-size: 1.1em;
}

#registerForm button{
	background-color: #BFAD05 !important;
	color:#FFF;
	text-shadow:none !important;
	font-family: FuturaStdHeavy;
	font-size: 1.1em;
}

#requestForm button{
	background-color: #BFAD05 !important;
	color:#FFF;
	text-shadow:none !important;
	font-family: FuturaStdHeavy;
	font-size: 1.1em;
}

#btnEnviarPeticion{
	background-color: #BFAD05;
	color:#FFF;
	text-shadow:none !important;
	font-family: FuturaStdHeavy;
	font-size: 1.1em;
}

#btnIng{
	border-radius: 0px;
	background-color: #BFAD05;
	color:#FFF;
	text-shadow:none !important;
	font-family: FuturaStdHeavy;
	font-size: 1.1em;
}


.pTitulo{
	text-align: center;
	font-family: FuturaStdHeavy;
	margin: 0px;
	padding: 0px;
	font-size: 1.1em;
}

.aCentro{
	border-left: solid 1px #AAA;
	border-right: solid 1px #AAA;
}

a,
a:hover,
a:visited{
	color:inherit;
	text-decoration: none;
};

.has-errors{
	border-color: #FF0000 !important;
}

.has-warning{
	border-color: #FFFF00 !important;
}

.has-success{
	border-color: #00FF00 !important;
}
