@font-face{
	font-family:'FuturaStdHeavy';
	src:url('../fonts/FuturaStd-Heavy.otf');
}

@font-face{
	font-family: 'FuturaBook';
	src:url('../fonts/Futura-Std-Book_19044.ttf');
}

body{
	background-color: #FFF;
}


a{
	color:#FFF;
	text-shadow:none;
}

a:visited{
	color:#FFF !important;
}

div#divSplash{
	background-color: #FFF;
	background-image: url('images/fon1.png');
	background-position: center bottom;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


#divLogoMinMinasSplash{
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100vh;
	background-image: url('images/logo-minminas1.png');
	background-size: 40%;
}



#divContentLogin,
#divContentSignin,
#divContentMain,
#divContentRequest{
	margin:0 auto;
	padding-top: 30px;
	width: 90%;
	text-align: center;
}
	#divContentSignin input,
	#divContentSignin button,
	#divContentOption input,
	#divContentOption button,
	#divContentLogin input,
	#divContentLogin button{
		width: 100%;
	}

.divLoginMinMinas,
.divImgAsesor{
	margin-top: 30px;
}

.divLoginMinMinas{
	margin-bottom: 20%;
}

.divLoginMinMinas img{
	width: 100%;
}

.divNavegacion{
	background-color: #59595B;
	color: #FFF;
	position: fixed;
	margin: 0px;
	z-index: 999999;
	bottom: 0px;
	width: 100%;
	font-family:FuturaBook;
	font-weight: normal;
}

	.divNavegacion ul{
		list-style: none;
		padding: 0px;
	}

		.divNavegacion li{
			text-align: center;
			list-style: none;
			width: 32%;
			display: inline-block;
		}

			.divNavegacion li a{
				text-align: center;
				text-decoration: none;
				color: #FFF;
			}

				.divNavegacion li a p{
					text-align: center;
					margin: 3px 0px 3px 0px;
				}



.cabecera{
	background-color: #59595B;
	border-bottom: solid 3px #BFAD05;
	color:#FFF;
	padding: 15px 20px 3px 5px;
	font-family: FuturaBook;
	width: 100%;
	vertical-align: middle;
}

	.cabecera::after{
		content:'';
		clear: both;
	}

	.cabecera a{
		color:#FFF !important;
	}

.divAtras{
	color: #FFF !important;
	float: left;
	width: 20%;
	vertical-align: middle;
	margin-top: 20px;
	margin-left: 20px;

}

.divAtras span{
	margin-right: 7px;
}


.divImagenHeader{
	vertical-align: middle;
	float: right;
	width: 65%;
	text-align: right;
	margin-right: 20px;
	margin-top: 5px;
}


	.divImagenHeader div{
		display: inline-block;
		vertical-align: middle;
		margin-right: 7px;
		position: relative;
	}

	.divImagenHeader img{
		display: inline-block;
	}




/*****ESTILOS DEL CHAT*********/
#divTextChat{
	background-color: #59595B;
	color: #FFF;
	position: fixed;
	margin: 0px;
	z-index: 999999;
	bottom: 0px;
	width: 100%;
	font-family:FuturaBook;
	font-weight: normal;
	padding: 3px 10px 5px 10px;
	vertical-align: top;
}

	#divTextChat:after{
		clear: both;
	}


	#divTextChat #txtChat{
		width: 80%;
		max-height: 80px;
		float: left;
		margin-left: 25px;
	}


	#divTextChat #btnEnviarChat{
		width: 12%;
		float: right;
		margin-right: 25px;
		background-image: url('images/b-enviar-landscape.png');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		color:#FFF;
		border:none !important;
		background-color: rgba(0,0,0,0);
		box-shadow: none;
	}

#divMensajes{
	vertical-align: bottom;
	overflow-y:auto;
	padding-bottom: 80px;
	/*margin-top: */
}


.mensaje{
	clear: both;
	display: block;
	padding: 0px;
	margin: 0px;
}

.mensajeUsuario,
.mensajeMaquina{
	font-family: FuturaBook;
	font-size: 1em;
	padding: 10px 15px 10px 20px;
	max-width: 60%;
	border-radius: 20px;
}

.mensajeUsuario{
	background-color: #D9E3A7;
	text-align: right;
	margin: 10px 20px 10px 10px;
	float: right;
}

.mensajeMaquina{
	background-color: #E9EAEB;
	text-align: left;
	margin: 10px 10px 10px 20px;
	float: left;
}



.limpiar{
	clear: both;
	opacity: 0;
	margin: 0px;
	padding: 0px;
}

/************Media Query***************/

@media (min-width:1367px){
	#divContentOption,#divContentSignin,#divContentLogin,
	#divContentMain{
		margin:0 auto;
		width: 70%;
	}

	#divContentMain{
		padding-top: 10%;
	}

	.divLoginMinMinas{
		width: 50%;
		margin: 0 auto;
	}
}



@media (max-width:1366px){
	#divContentOption,
	#divContentSignin,
	#divContentLogin,
	#divContentMain{
		margin:0 auto;
		width: 70%;
	}

	#divContentMain{
		padding-top: 10%;
	}

	.divLoginMinMinas{
		width: 50%;
		margin: 0 auto;
	}



}
@media (max-width:1280px){
	#divContentOption,
	#divContentLogin,
	#divContentSignin,
	#divContentMain{
		margin:0 auto;
		width: 70%;
	}

	#divContentMain{
		padding-top: 10%;
	}

	.divLoginMinMinas{
		width: 60%;
		margin: 0 auto;
	}


	.cabecera{
		border-bottom: solid 7px #BFAD05;
	}

	.divAtras{
		font-size: 1.6em;
		font-weight: normal;
		margin-top:10px;
	}

	.divAtras span{
		margin-right: 13px;
		width: 0.6em;
	}

	.divImagenHeader div{
		font-size: 1.6em;
		top: 0px;
	}


}
/*Para tablets en landscape*/
@media (max-width:1030px){
	#divContentOption,
	#divContentLogin,
	#divContentSignin,
	#divContentMain{
		margin:0 auto;
		width: 70%;
	}

	#divContentMain{
		padding-top: 10%;
	}

	.divLoginMinMinas{
		width: 70%;
	}

	.cabecera{
		border-bottom: solid 7px #BFAD05;
	}

	.mensajeUsuario,
	.mensajeMaquina{
		max-width: 70%;
	}
}

@media (min-resolution: 356dpi) and (min-width: 768px){

	#divMain{
		background-color:#F00;
	}

	#divContentOption,
	#divContentLogin,
	#divContentSignin,
	#divContentMain{
		margin:0 auto;
		width: 70%;
	}

	#divContentMain{
		padding-top: 10%;
	}

	.divLoginMinMinas{
		width: 70%;
	}


	.cabecera{
		border-bottom: solid 5px #BFAD05;
	}

	.divAtras{
		font-size: 1.4em;
		font-weight: normal;
		margin-top:15px;
	}

	.divAtras span{
		margin-right: 13px;
		width: 0.5em;
	}

	.divImagenHeader div{
		font-size: 1.4em;
		top: 0px;
	}


	.mensajeUsuario,
	.mensajeMaquina{
		max-width: 80%;
	}

	#divTextChat #txtChat{
		width: 70%;
	}

	#divTextChat #btnEnviarChat{
		width: 20%;
	}


}

@media (max-width:768px){
	#divContentOption,
	#divContentLogin,
	#divContentSignin,
	#divContentMain{
		margin:0 auto;
		width: 70%;
	}

	#divContentMain{
		padding-top: 10%;
	}

	.divLoginMinMinas{
		width: 70%;
	}


	.cabecera{
		border-bottom: solid 5px #BFAD05;
	}

	.divAtras{
		font-size: 1.4em;
		font-weight: normal;
		margin-top:15px;
	}

	.divAtras span{
		margin-right: 13px;
		width: 0.5em;
	}

	.divImagenHeader div{
		font-size: 1.4em;
		top: 0px;
	}


	.mensajeUsuario,
	.mensajeMaquina{
		max-width: 80%;
	}

	#divTextChat #txtChat{
		width: 70%;
	}

	#divTextChat #btnEnviarChat{
		width: 20%;
	}
}
@media (max-width:640px){
	#divContentOption,
	#divContentLogin,
	#divContentSignin,
	#divContentMain{
		margin:0 auto;
		width: 85%;
	}

	#divContentMain{
		padding-top: 10%;
	}

	.divLoginMinMinas{
		width: 80%;
	}


	#divTextChat #txtChat{
		width: 65%;
		margin-left: 10px;
	}

	#divTextChat #btnEnviarChat{
		width: 25%;
	}
}
@media (max-width:480px){
	#divContentOption,
	#divContentLogin,
	#divContentSignin,
	#divContentMain{
		margin:0 auto;
		width: 95%;
		padding-top: 10%;
	}

	.divLoginMinMinas{
		width: 90%;
		margin-top: 10%;
	}


	.divAtras{
		font-size: 1.2em;
		font-weight: normal;
		margin-top:18px;
	}

	.divAtras span{
		margin-right: 13px;
		width: 0.5em;
	}

	.divImagenHeader div{
		font-size: 1.2em;
		top: 0px;
	}


	#divTextChat #txtChat{
		width: 65%;
		margin-left: 0px;
	}

	#divTextChat #btnEnviarChat{
		width: 23%;
	}
}
@media (max-width:320px){
	#divContentOption,
	#divContentLogin,
	#divContentSignin,
	#divContentMain{
		margin:0 auto;
		width: 95%;
		padding-top: 15%;
	}

	.divLoginMinMinas{
		width: 90%;
		margin-top: 20%;
	}

	.divNavegacion ul{
		text-align: center;
	}

	.divNavegacion li{
		width: 30%;
	}

	.divNavegacion li a{
		text-align: center;
		text-decoration: none;
		color: #FFF;
		font-size: 0.7em;
	}

		.divNavegacion li a p{
			text-align: center;
			margin: 3px 0px 3px 0px;
			width: 90%;
		}

			.divNavegacion li a p img{
				width: 30%;
			}
}
